@page "/"
@using Microsoft.FluentUI.AspNetCore.Components
@using GeriRemenyi.Oanda.V20.Client.Model


<PageTitle>Index</PageTitle>

<FluentLabel Typo="Typography.H1">
    Hello Zed
</FluentLabel>
<p>Latest strategy insights</p>

<FluentGrid Justify="JustifyContent.FlexStart" Spacing="2">

    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <h4>Currently running {N} strategies</h4>
            <p>Top Performers</p>
            <ul class="">
                <li>
                    <FluentAnchor Href="#" IconEnd="@(new Icons.Regular.Size24.ArrowRight())">
                        Strategy n
                    </FluentAnchor>
                </li>

                <li>
                    <FluentAnchor Href="#" IconEnd="@(new Icons.Regular.Size24.ArrowRight())">
                        Strategy n
                    </FluentAnchor>
                </li>
                <li>
                    <FluentAnchor Href="#" IconEnd="@(new Icons.Regular.Size24.ArrowRight())">
                        Strategy n
                    </FluentAnchor>
                </li>
                <li>
                    <FluentAnchor Href="#" IconEnd="@(new Icons.Regular.Size24.ArrowRight())">
                        Strategy n
                    </FluentAnchor>
                </li>
            </ul>
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            hello
        </FluentCard>
    </FluentGridItem>

    <FluentGridItem xs="12">
        <FluentCard>
            <h4>View latest currency prices</h4>
            
            <FluentSelect Appearance="Appearance.Filled" Position="SelectPosition.Below" Id="currencySelect" name="currencySelect" ValueChanged="@(e => selectValue = e)" TOption="string" Height="300px">
                @foreach (var currency in instruments)
                {
                    <FluentOption Value="@currency">@currency</FluentOption>
                }
            </FluentSelect>
            

            @* ant design chart *@
            <Line Data="data" Config="config"/>
            
        </FluentCard>
    </FluentGridItem>
    
    
</FluentGrid>

@code {
    object[] data = new object[] {
        new  { year= "1991", value= 3 },
        new  { year= "1992", value= 4 },
        new  { year= "1993", value= 3.5 },
        new  { year= "1994", value= 5 },
        new  { year= "1995", value= 4.9 },
        new  { year= "1996", value= 6 },
        new  { year= "1997", value= 7 },
        new  { year= "1998", value= 9 },
        new  { year= "1999", value= 13 },
    };

    LineConfig config = new LineConfig()
    {
        Title = new Title()
        {
            Visible = true,
            Text = "Line Graph",
        },
        Description = new Description()
        {
            Visible = true,
            Text = "Replace broken lines with smooth curves。",
        },
        Padding = "auto",
        AutoFit = true,
        XField = "year",
        YField = "value",
        Smooth = true,
    };
    
    string[] instruments = Enum.GetNames(typeof(InstrumentName));
    string selectValue = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        selectValue = instruments[0];
    }

}